/* Footer */

.footer {
    margin: auto;
    width: 95%;
    background-color: $light;
    margin-top: 1rem;
    padding: 2rem;
  }

.whatsapp {
    position: fixed;
    bottom: 0;
    right: 3%;
    background-color: $white;
    border-radius: 25px;
  }

