/* Footer */

.footer {
    margin: auto;
    width: 95%;
    background-color: $light;
    margin-top: 1rem;
    padding: 2rem;
  }

  $redes:(position:fixed,bottom:.5%,bgColor:$white);

  @mixin redes($right,$border) {
    right: $right;
    border-radius: $border;
  }

  .redes{
    position: map-get($redes,position);
    bottom: map-get($redes,bottom);
    background-color: map-get($redes,bgColor);
  }

  .whatsapp{
    @extend.redes;
    @include redes(3%,25px)
  }

  .facebook{
    @extend .redes;
    @include redes(9%, 26px )
  }

  .twitch{
    @extend.redes;
    @include redes(15%, 25px )
  }





