/*Medias*/

@media (min-width: 768px) {
  .main-menu {
    flex-direction: row;
    transform: translateY(0);
    max-height: 6.2rem;
    box-shadow: none;
  }

  .toggle-menu {
    display: none;
  }

  .article {
    grid-template-columns: repeat(2, 1fr);
  }

  .map {
    width: 90%;
    height: 100%;
    margin-left: 1rem;
  }

  .buttons {
    display: flex;
    flex-direction: row-reverse;
  }

  .button {
    margin: 1rem;
  }
}