@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* variables */
:root {
    --principal: #55672C;
    --seconday: #A49D33;
    --light: #E5E2C2;
    --grey: #292929;
    --white: #ffffff;
    --font: 'Roboto', sans-serif;
}


/* Globals */

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #c3c0a8;
}

a {
    text-decoration: none;
    color: var(--light);
}

li {
    list-style: none;
    font-size: 1.8rem;
}

img {
    max-width: 100%;
}

p {
    font-size: 1.6rem;
    margin: 0;
    color: var(--grey);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.rounded {
    border-radius: 5px;
}

.shadow {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

/* Header */

.header {
    margin: 1rem auto;
    max-width: 95%;
    min-height: 10vh;
    background-color: var(--light);
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 25rem;
    align-self: center;
    margin: 2rem 0;
}

.nav {
    background-color: var(--principal);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav__ul {
    text-align: center;
}

.nav__li {
    margin: .5rem .5rem;
    /* text-align: center; */
}

/* Main */

.main {
    margin: auto;
    width: 95%;
    background-color: var(--light);
    margin-top: 1rem;
    position: relative;
}

.hero {
    width: 100%;
    height: 45rem;
    object-fit: cover;
}

@keyframes change-color{
    25%{
        color: var(--principal);
    }

    50%{
        color: var(--seconday);
    }

    75%{
        color: var(--light);
    }

    100%{
        color: var(--grey);
    }
}

.main__title {
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
    color: var(--grey);
    animation: change-color 3s ease 0s infinite alternate;
}

.section {
    padding: 1rem 2rem;
}

.card {
    margin: 1rem auto;
    width: 90%;
    max-width: 40rem;
    height: fit-content;
    background-color: var(--white);
    padding: 1rem;
}

.card__img {
    width: 100%;
    height: auto;
}

.card__text {
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
    animation: change-color 3s ease 0s infinite alternate;
}

.whatsapp {
    position: fixed;
    bottom: 0;
    right: 3.5rem;
}

/* Footer */

.footer {
    margin: auto;
    width: 95%;
    background-color: var(--light);
    margin-top: 1rem;
    padding: 2rem;
}

/* Shop */

.article-shop {
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    width: 30rem;
    height: 45rem;
    background-color: var(--white);
    padding: 1rem;
    margin: 2rem;
}

.product__name {
    text-align: center;
    font-size: 2rem;
}

.product__description {
    margin: 1rem 0;
}

.product__price {
    text-align: center;
    font-size: 2rem;
}

.button {
    margin: 1rem auto;
    height: 3rem;
    width: 100%;
    text-align: center;
    border: .2rem solid var(--grey);
    cursor: pointer;
}

.button__text {
    font-size: 2rem;
    color: var(--grey);
}

/* Nosotros */

.article__text {
    width: 100%;
    margin: 1rem 1rem;
}

.map {
    width: 100%;
    height: 30rem;
}

/* Form */

.form {
    margin: auto;
    background-color: var(--white);
    padding: 1rem;
    width: 100%;
}

.border-none {
    border: none;
}

.form__legend {
    text-align: center;
    color: var(--grey);
    font-size: 2.5rem;
    font-weight: bold;
}

.input {
    margin-bottom: 1rem;
}

.input__label {
    display: block;
    color: var(--grey);
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: bold;
}

.input__text {
    width: 100%;
    background-color: var(--light);
    padding: 1.5rem;
    border: 1px solid var(--grey);
}

.area {
    height: 20rem;
}

/* Medias */

@media (min-width: 768px) {
    .nav__ul {
        grid-template-columns: repeat(5, 1fr);
    }

    .article {
        grid-template-columns: repeat(2, 1fr);
    }

    .map{
        width: 90%;
        height: 100%;
        margin-left: 1rem;
    }
}